<% content_for :title, "Dashboard" %>

<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12 cold-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2>Dashboard</h2>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">
              Welcome to your dashboard! Lorem ipsum dolor sit amet, <code>consectetur adipiscing</code> elit. Sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip
              ex ea commodo consequat. Duis aute irure dolor in <code>reprehenderit</code> in voluptate velit esse
              cillum dolore eu fugiat nulla
              pariatur. Excepteur sint <code>occaecat cupidatat</code> non proident, sunt in culpa qui officia deserunt
              mollit anim id est
              laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
