
= form_for language do |f|
  .form-body
    .row
      = render "shared/errors", resource: language
      .col-12
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control", placeholder: "Name"
        .form-group
          = f.label :file_share_folder
          = f.text_field :file_share_folder, class: "form-control", placeholder: "Folder"
        .col-12.d-flex.justify-content-end
          = f.submit "Save", class: "btn btn-primary me-1 mb-1"
          = link_to "Cancel", languages_path, class: "btn btn-light-secondary me-1 mb-1"
