content_for :title, "Editing language"

section#basic-vertical-layouts
  .row.match-height
    .col-md-6.col-12
      .card
        .card-header
          h2.card-title Edit language
        .card-content
          .card-body
            = render "form", language: @language
