content_for :title, "Languages"

section.section
  .row#table-striped
    .col-12.cold-md-12
      .card
        .card-header.d-flex.justify-content-between.align-items-center
          h2.card-title Languages
          = link_to new_language_path, class: "btn btn-primary" do
            i.bi.bi-plus
            |  Add New Language
        .card-content
          .card-body
            p.card-text Some important information or instruction can be placed here.
            .table-responsive
              table.table.table-lg.table-striped.mb-0
                thead
                  tr
                    th Name
                    th File share folder
                    th.text-end Actions
                tbody
                  - @languages.each do |language|
                    tr
                      td.text-bold-500 = language.name
                      td.text-bold-500 = language.file_share_folder
                      td.text-end
                        = link_to edit_language_path(language), class: "btn btn-secondary btn-sm" do
                          i.bi.bi-pencil
                          |  Edit
