section[id="basic-vertical-layouts"]
  .[class="row match-height"]
    .[class="col-md-6 col-12"]
      .[class="card"]
        .[class="card-header"]
          h4[class="card-title"] New language
        .[class="card-content"]
          .[class="card-body"]
            = render "form", language: @language
