<% if errors.any? %>
  <div style="color: red">
    <h4><%= "#{pluralize(errors.count, "error")} prohibited this #{resource_name} from being saved:" %></h4>
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
