<div id="<%= dom_id training_resource %>">
  <p>
    <strong>State:</strong>
    <%= training_resource.state %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= link_to training_resource.document.filename, training_resource.document if training_resource.document.attached? %>
  </p>

</div>
