.sidebar__link {
    @apply hover:bg-gray-100 flex items-center px-4 py-3 gap-3 rounded-lg;
}

.sidebar__logout-button {
    @apply py-3 px-4 w-full text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg flex justify-center items-center gap-2 cursor-pointer;
}