<% content_for :title, "Tags" %>

<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12 cold-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2 class="card-title">Tags</h2>
          <%= link_to new_tag_path, class: "btn btn-primary", data: { turbo: false } do %>
            <i class="bi bi-plus"></i> Add New Tag
          <% end %>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p class="card-text">Some important information or instruction can be placed here.</p>
            <div class="table-responsive">
              <table class="table table-lg table-striped mb-0">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Cognates</th>
                  <th class="text-end">Actions</th>
                </tr>
                </thead>
                <%= render "list", topics: @tags %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
