<% content_for :title, "New tag" %>

<section id="basic-vertical-layouts">
  <div class="row match-height">
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">New tag</h2>
        </div>
        <div class="card-content">
          <div class="card-body">
            <%= render "form", tag: @tag %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
